* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
  height: 55px; 
  width: 100%;
}

.footer {
  background: #b3b3cc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f0f0f5, #b3b3cc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f0f0f5, #b3b3cc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f0f0f5, #b3b3cc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f0f0f5, #b3b3cc); /* Standard syntax */
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
