/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  position: absolute;
  height: 60px; 
  width: 100%;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

