<div ng-if="c.newAudio" class="row">
  <div class="col-xs-1 col-md-1">
    <a class="cp-icon" href="/{{sd.normalized_name}}/audio/{{c.newAudio}}" style="text-decoration:none">
      <img src="http://www.catholicpatrimony.com/img/headphone4_16.png" width="16"/>
    </a>
  </div>
  <div class="col-xs-10 col-md-10">
    <a href="/{{sd.normalized_name}}/audio/{{c.newAudio}}" style="text-decoration:none">
      Audio (MP3)
    </a>
  </div>
</div>
<div ng-if="!c.newAudio" style="padding-left: 12px; padding-right: 12px; white-space: nowrap;">
  Audio coming soon
</div>
<div ng-repeat="f in c.new_handout_file" class="row">
  <div class="col-xs-1 col-md-1">
    <a class="cp-icon" href="{{f}}" style="text-decoration:none">
      <img src="img/{{c.fileicons[$index]}}" width="16" />
      <!--
      <img src="img/{{c.fileicons[$index]}}" width="16" />
      <img ng-if="f.indexOf('http') != -1" src="img/Link_symbol_16.png"  width="16"/>
      <img ng-if="f.indexOf('.pdf') != -1" src="img/pdficon.gif"  width="16" />
      <img ng-if="f.indexOf('.doc') != -1" src="img/docicon.png"  width="16" />
      <img ng-if="f.indexOf('.ppt') != -1" src="img/document_powerpoint.png" width="16" />
      -->
    </a>
  </div>
  <div class="col-xs-10 col-md-10">
    <a href="{{f}}" style="text-decoration:none">
      {{c.new_handout_title[$index]}}
    </a>
  </div>
</div>
