<div ng-if="sd" class="container">
  <div style="font-weight: bold">Bundled Downloads</div>
  <div style="margin-left: 20px">
    <div ng-if="sd.includeZips">Download all audio files as a zip <a href="/{{sd.normalized_name}}/{{sd.normalized_name}}-audio.zip">here</a>.</div>
    <div ng-if="sd.includeZips">Download all doc files as a zip <a href="/{{sd.normalized_name}}/{{sd.normalized_name}}-docs.zip">here</a>.</div>
    <div>Download the audio files by using the podcast file: <a href="/{{sd.normalized_name}}/podcast.xml">raw xml</a></div>
<!--
  or <a href="itms://www.catholicpatrimony.com/{{sd.normalized_name}}/podcast.xml">open in iTunes</a>.
-->
  </div>
  <div ng-repeat="c in classes">
    <br />
    <div>
      <strong>{{c.title}}</strong>
    </div>
    <div ng-if="c.detail">{{c.detail}}</div>
    <!--
    <div style="max-width=: 70%;">
    -->
    <div>
      <span ng-if="c.newAudio" style="padding-right: 12px; white-space: nowrap;">
        <a href="/{{sd.normalized_name}}/audio/{{c.newAudio}}">Audio (MP3)</a>
        <img src="http://www.catholicpatrimony.com/img/headphone4_16.png" width="20"/>
      </span>
      <span ng-repeat="f in c.handout_links" style="padding-right: 12px; white-space: nowrap;">
        <a href="{{f}}">{{c.new_handout_title[$index]}}</a>
        <img ng-if="f.indexOf('.pdf') != -1" src="/img/pdficon.gif" />
        <img ng-if="f.indexOf('.doc') != -1" src="/img/docicon.png" />
        <img ng-if="f.indexOf('.ppt') != -1" src="/img/document_powerpoint.png" />
      </span>
    </div>
  </div>
</div>
