<div ng-controller="DailyHomiliesController">
  <table width="100%" border="1">
    <tr>
      <td ng-click="back();" style="cursor: pointer; text-align: center;">
        <a href="" style="text-decoration: none;">&lt;---</a>
      </td>
      <td colspan="5" style="text-align: center;">
        {{yearStr}}<br />{{monthStr}}
      </td>
      <td ng-click="forward();" style="cursor: pointer; text-align: center;">
        <a href="" style="text-decoration: none;">---&gt;</a>
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in firstWeek" width="14.29%" style="text-align: center;">
        {{d.dayStr}}
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in firstWeek" width="14.29%" style="text-align: center;">
        <p ng-include="'web/daily_day.html'"></p>
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in secondWeek" style="text-align: center;">
        {{d.dayStr}}
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in secondWeek" width="14.29%" style="text-align: center; padding: 5px;">
        <p ng-include="'web/daily_day.html'"></p>
      </td>
    </tr>
  </table>
  <div ng-if="showingDay">
    {{day2show.cpObj.audio}}
  </div>
</div>
