<div ng-if="sd" class="container">
  <div>
    <h3>{{sd.title}}</h3>
    <br />
    <div>
      <strong>{{c.title}}</strong>
    </div>
    <span ng-if="c.detail">{{c.detail}}</span><br />
    <!--
    <div style="max-width=: 70%;">
    -->
    <span ng-include="'web/audio_and_docs.html'"></span>
    <dir-disqus disqus-shortname="catholicpatrimony"
         disqus-identifier="{{ myDisqus_identifier }}"
         disqus-title="{{ myDisqus_title }}"
         disqus-url="{{ myDisqus_url }}"
         ready-to-bind="{{ myDisqus_contentLoaded }}">
    </dir-disqus>
  </div>
</div>
