<span style="float: right; margin: 10px; font-size: 150%; cursor: pointer;"
      ng-click="ok();"
  >X</span>
<div ng-if="sd" class="container">
  <div>
    <br ng-if="c.title"/>
    <div>
      <strong>{{c.date}} - {{c.title}}</strong>
      <br />
    </div>
    <span ng-if="c.detail">{{c.detail}}</span>
    <!--
    <div style="max-width=: 70%;">
    -->
    <span ng-include="'partials/audio_and_docs.html?cbp=20190803'"></span>
    <span ng-if="c.tags">
      &nbsp;&nbsp; TAGS:
      <span ng-repeat="t in c.tags.split(' ')">
        <a href="javascript:void(null)" ng-click="searchText1.val = t; searchText2.val = '';" class="link">{{ t }}</a>
      </span>
    </span>
    <br />
    <br />
    <div>Search for <a href="javascript:void(null)" ng-click="searchRelated(c);">related homilies</a>:</div>
    <div ng-if="sd.normalized_name == 'daily_homilies'">
      <input type="text" ng-model="searchText1.val" style="width: 300px;"/>
      or
      <input type="text" ng-model="searchText2.val" style="width: 300px;" />
      <br />
      <br />
      <div ng-if="!tooManyResults" ng-repeat="ma in matchingArr track by $index">
        <a href="javascript:void(null);" ng-click="showDay(ma);">{{ma.date}} {{ma.title}}</a>
      </div>
      <div ng-if="tooManyResults">
        Too many results.  Refine your search.
      </div>
      <div ng-if="noResults">
        no results
      </div>
    </div>
    <br />
    <span ng-if="!show_disqus">
      <!--
      <a ng-click="show_disqus = true;">show comments</a>
      -->
      <a href="javascript:void(null);" ng-click="showComments()">show comments</a>
    </span>
    <span ng-if="show_disqus">
      <dir-disqus config="disqusConfig"></dir-disqus>
      
      <dir-disqus disqus-shortname="catholicpatrimony"
           disqus-identifier="{{ myDisqus_identifier }}"
           disqus-title="{{ myDisqus_title }}"
           disqus-url="{{ myDisqus_url }}"
           ready-to-bind="{{ myDisqus_contentLoaded }}">
      </dir-disqus>
    </span>
    <br />
    <br />
  </div>
</div>
