<div ng-controller="DailyHomiliesController">
  <!--
  <table width="100%" border="1" class="cal_table">
  -->
  <table width="100%" border="1" class="cal_table">
    <tr>
      <td ng-click="back();" style="cursor: pointer; text-align: center;">
        <span style="text-decoration: none;">&lt;---</span>
      </td>
      <td colspan="5" style="text-align: center; font-weight: bold; font-size: 100%; color: #2F4F4F;">
        {{yearStr}}<br />{{monthStr}}
      </td>
      <td ng-click="forward();" style="cursor: pointer; text-align: center;">
        <span href="" style="text-decoration: none;">---&gt;</span>
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in firstWeek" width="14.29%" style="text-align: center;">
        {{d.dayStr}}
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in firstWeek" width="14.29%" class="cal_cell">
        <p ng-include="'partials/course_specific/daily_day.html?cbp=20160716'"></p>
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in secondWeek" style="text-align: center;">
        {{d.dayStr}}
      </td>
    </tr>
    <tr>
      <td ng-repeat="d in secondWeek" width="14.29%" class="cal_cell">
        <p ng-include="'partials/course_specific/daily_day.html?cbp=20160716'"></p>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <div ng-if="showingDay">
    <!--
    {{day2show.cpObj.audio}}
    -->
    <!--
    <div>
      <strong>{{day2show.dateStr}}</strong>
    </div>
    <div>
      <strong>{{day2show.litdaySelected}}</strong>
    </div>
    -->
    <!--
    <div>
      <span ng-repeat="ld in day2show.cpObj.liturgical_day">
        <span ng-if="$index != 0" > / </span>
        <span> {{ld}} </span>
    </div>
    <span ng-include="'partials/audio_and_docs.html?cbp=20160716'"></span>
    -->
  </div>
</div>
