<div ng-if="sd" class="container">
  <div>
    <br ng-if="c.title"/>
    <div>
      <strong>{{c.date}} - {{c.title}}</strong>
      <br />
    </div>
    <span ng-if="c.detail">{{c.detail}}</span>
    <!--
    <div style="max-width=: 70%;">
    -->
    <span ng-include="'partials/audio_and_docs.html?cbp=20160803'"></span>
    &nbsp;&nbsp;tags {{ c.tags }}
    <br />
    <br />
    <span ng-if="!show_disqus">
      <!--
      <a ng-click="show_disqus = true;">show comments</a>
      -->
      <a href="javascript:void(null);" ng-click="showComments()">show comments</a>
    </span>
    <span ng-if="show_disqus">
      <dir-disqus config="disqusConfig"></dir-disqus>
      
      <dir-disqus disqus-shortname="catholicpatrimony"
           disqus-identifier="{{ myDisqus_identifier }}"
           disqus-title="{{ myDisqus_title }}"
           disqus-url="{{ myDisqus_url }}"
           ready-to-bind="{{ myDisqus_contentLoaded }}">
      </dir-disqus>
    </span>
    <div>Search for related homilies:</div>
    <div ng-if="sd.normalized_name == 'daily_homilies'">
      <input type="text" ng-model="searchText1.val" style="width: 300px;"/>
      or
      <input type="text" ng-model="searchText2.val" style="width: 300px;" />
      <br />
      <div ng-if="!tooManyResults" ng-repeat="ma in matchingArr track by $index">
        <a href="javascript:void(null);" ng-click="showDay(ma);">{{ma.title}}</a>
      </div>
      <div ng-if="tooManyResults">
        Too many results.  Refine your search.
      </div>
      <div ng-if="noResults">
        no results
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
