<!DOCTYPE html>
<html ng-app="cpApp">
  <head>
  
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="web/sticky-footer.css">

    <!-- Optional: Include the jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="web/angular-route.min.js"></script>
    <script src="web/cp.json"></script>
    <script src="web/cp.js"></script>

  </head>
  <body ng-controller="MenuController">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CatholicPatrimony.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--
            <li class="{{aboutClass}}"><a href="#">about</a></li>
            -->
            <li class="dropdown {{dropDownClass}}">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Classes <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="c in dropDownMenu"><a href="" ng-click="dropDownClicked(c.idx)">{{c.seriesData.title}}</a></li>
              </ul>
            </li>
            <li class="{{topLevelClass}}" ng-repeat="c in topLevelMenu"><a href="" ng-click="topLevelClassClicked(c.idx)">{{c.seriesData.title}}</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  
    <div ng-view></div>


    <footer class="footer">
      <div class="container">
        <br />
        Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
      </div>

      <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10293857; 
var sc_invisible=0; 
var sc_security="5408d687"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify
analytics ecommerce" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/10293857/0/5408d687/0/"
alt="shopify analytics ecommerce"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

    </footer>

    
  </body>
</html>


